body{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#page{
    width:900px;
    margin:0px;
    margin-left:-50px;
}

#pageContainer{
    width:900px;
    height:500px;
    float:left;
    border:1px solid black;
    background-color:yellow;
    position: relative;
}

.gameObject{
    position: absolute;
    top: 0;
    left:0;
    /*opacity: 0.2;*/
}

.StartnewGame, .endGame, .playerSpeed{ padding:5px 10px; border:1px solid grey; float:left; margin-bottom:20px; cursor:pointer;}
.StartnewGame:hover, .endGame:hover, .playerSpeed:hover{background-color:grey; border-color:white;}

.playerSpeed{margin-left:50px;}

.endGame{float:right;}

.clear{clear:both;}
.PixDiv{position: absolute; background-color: black; width:1px; height: 1px;}
.obstacleBox{display:none;}


#header_bg{position: absolute; background-color:black; border:1px solid gray; height:50px; width:80px; top:2px; left:20px; opacity: 0.5;}
#portrate{}
#Target{}

#actionBar{position: absolute;}
#action_49{}
#action_50{}
#action_51{}

#tempCanvas{width:100px; height:100px;}

.headerBackGround{position:absolute;background-color: black; opacity: 0.6; left:30%; top:5px;  height:40px; width:40%; border:1px solid black; z-index: 99999;}
.header{position:absolute; left:30%; top:5px;  height:40px; width:40%; border:1px solid black; z-index: 99999;}
#playerOne{float:left; margin-left:20px; margin-top:10px; color:lightgrey;}
#PlayerTwo{float:right; margin-right:20px;margin-top:10px; color:lightgrey;}
#playerOneScore, #playerTwoScore{color: white; font-weight: bold;}

/*.aPoint{position: absolute; width:2px; height:2px; background-color: black;}*/

.screen{
    width:900px;
    height:500px;
    position: absolute;
    background-color: black;
    top:0;
    left:0;
}
.contentHolder{
    color: white;
    position: absolute;
    width:30%;
    height:30%;
    top:35%;
    left:35%;
    text-align: center;
}
.prev{
    position: absolute;
    top:5px;
    left:10px;
    border:1px solid white;
    padding:5px 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.option{ padding:5px; font-weight: bold; cursor: pointer;}
.option:hover{color: lightcyan;}
.displayNone{display:none;}

.pong_player{margin-right:20px;margin-top:10px; color: #D3D3D3;}
.player_score{color: white; font-weight: bold;}
.fLeft{ float:left; }
.fRight{ float:right; }
#gameCanvas{
    width:900px;
    height:500px;
    float:left;
    border:1px solid black;
    background-color:yellow;
    position: relative;
}

.gameCountDownHolder {
    text-align: center;
    padding:10px 0px;
    font-weight: bold;
    font-size: 16px;
}

.sb-player { width:30%; overflow: hidden; white-space: nowrap; }
.sb-winnerIs { width:40%; overflow: hidden; white-space: nowrap; margin-top: 10px; color: white; font-weight: bold;}

.modal-header{z-index: 99999999;}
.modal-title {z-index: 99999999;}