.splic_1{
    width:98%;
}

.splic_2{
    width:48%;
}

.splic_3{
    width:31.3%;
}

.splic_4{
    width:23%;
}

.splic_5{
    width:18%;
}

.splic_6{
    width:14.6%;
}

.floatLeft{
    float:left;
}

.floatRight{
    float:right;
}

.content{
    margin:0 0.5%;
    padding:0 0.5%;
}

.mt_5{ margin-top:5px; }
.mt_10{ margin-top:10px; }
.mt_15{ margin-top:15px; }
.mt_20{ margin-top:20px; }
.mt_25{ margin-top:25px; }

.mb_5{ margin-bottom: 5px; }
.mb_10{ margin-bottom: 10px; }
.mb_15{ margin-bottom: 15px; }
.mb_20{ margin-bottom: 20px; }
.mb_25{ margin-bottom: 25px; }

.ml_5{ margin-left:5px; }
.ml_10{ margin-left:10px; }
.ml_15{ margin-left:15px; }
.ml_20{ margin-left:20px; }
.ml_25{ margin-left:25px; }

.mr_5{ margin-right: 5px; }
.mr_10{ margin-right: 10px; }
.mr_15{ margin-right: 15px; }
.mr_20{ margin-right: 20px; }
.mr_25{ margin-right: 25px; }

.pageWrap{
    width:800px;
    height:600px;
    margin:0 auto;
    border:1px solid black;
    background-color: #F3CF55;
}

.notifyWindow{
    width:700px;
    margin:-590px auto 0;
    border:1px solid black;
    opacity: 0.9;
    z-index: 9999;
    color: white;
    padding:5px 10px;
    font-weight: bold;
}

.notify-success{
    background-color: greenyellow;
}
.notify-failed{
    background-color: red;
}
.notify-warning{
    background-color: yellow;
}

.toType.private{ color : purple; }
.toType.public{ color: black; }
.toType.warning{ color: red; }

.tabContainer{
    width:100%;
    height:523px;
}

.leftSide{
    float:left;
    width:80%;
    height:480px;
}
.rightSide{
    float:left;
    width:20%;
    height:480px;
    border-left:1px solid black;
    background-color: #F3CF55;
}
.loginWrap{
    width:200px;
    height:100px;
    margin:250px auto;
}

.loadingWrap{
    width:200px;
    height:100px;
    margin:250px auto;
}

.displayNone{
    display: none;
}
.msgWrap{
    width:100%;
    height:480px;
    border-bottom:1px solid black;
    background-color: #FFFEAD;
    overflow: auto;
}
.msgWrap ul{
    width:100%;
    margin:0px;
    padding:0px;
}

.msgWrap ul li{
    margin-left:10px;
    list-style: none;
    padding:1px 0px;
    font-size: 12px;
    font-weight: 600;
}

.inputWrap{
    width:100%;
    height:50px;
}

.msg{
    height: 43px;
    width: 80%;
}
.submitMsg{
    height: 45px;
    width: 20%;
}

.fLeft, .fRight{
    padding:1px 10px;
}

.fLeft{
    float:left;
}

.fRight{
    float:right;
}

.fLeft img {
    float:left;
}
.clearFix{
    clear:both;
 }
.statusBar {
    border-bottom: 1px solid black;
    padding: 2px 0px;
    font-size: 14px;
}

.logout{
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: underline;
}

ul.stats,
ul.singlePlayerGamesList,
ul.multiPlayerGamesList
{
    position: absolute;
    background-color: #F3CF55;
    margin: -2px 0px 0px;
    list-style: none outside none;
    padding: 5px;
    z-index: 9999999999;
}

ul.stats li,
ul.singlePlayerGamesList li,
ul.multiPlayerGamesList li{
    margin-bottom: 5px;
    padding: 0px 10px;
}
.msgSegment{
    margin-right:10px;
}

.roomNotification{
    display: inline-block;
    margin-left: 3px;
}

.leaveRoom {
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    padding: 0 5px;
    background-color: lightgrey;
}

.leaveRoom:hover {
    background-color: lightgreen;
}
.content label{
    display: block;
}

.content input{

}

.content input[type="button"]{

}
