<div class="modal-header">
    <h3 class="modal-title">Waiting for players to accept</h3>
</div>
<div class="modal-body">
    {{qready}}
    <ul>
        <li ng-repeat="(index, user) in qready.queue.users">
            <span class="queue-window-username">{{user.username}}: </span>
            <span class="queue-window-accepted">{{ user.accepted ? 'O.K' : 'waiting...' }}</span>
            <button ng-show="user.isMe" class="btn btn-primary" ng-click="qready.accept(user, index)">ACCEPT</button>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="qready.leaveQueue()">Leave Queue</button>
</div>