<div class="modal-header">
    <h3 class="modal-title">Ready to play {{qready.queue.name}}</h3>
</div>
<div class="modal-body">
    <table class="queue-window-table">
        <thead>
        <tr>
            <th>player</th>
            <th>status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(index, user) in qready.queue.users">
            <td>
                <span class="queue-window-username">{{user.username}}:</span>
            </td>
            <td>
                <span class="queue-window-accepted">{{ user.accepted ? 'O.K' : 'waiting...' }}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="qready.leaveQueue()">Leave Queue</button>
    <button class="btn btn-primary" ng-show="!qready.user.accepted" ng-click="qready.accept()">ACCEPT</button>
</div>