div(class="statusBar")
    div(class="userDetails fLeft") Hey&nbsp;{{admin.User.username}}
    div(class="singlePlayer fLeft")
        img(src="http://something.com")
        span(class="singlePlayerLabel") play Single Player
        ul(class="singlePlayerGamesList fLeft displayNone")
    div(class="multiPlayer fLeft")
        img(src="http://something.com")
        span(class="multiPlayerLabel") Queue for MultiPlayer
        ul(class="multiPlayerGamesList fLeft displayNone")
    div(class="statsDiv fLeft" ng-mouseenter="admin.bar.stats.hover = true" ng-mouseleave="admin.bar.stats.hover = false") Stats
        ul(class="stats fLeft" ng-show="admin.bar.stats.hover")
            li latency:&nbsp;
                span(class="latency" id="latency") {{ admin.bar.stats.latency }}
            li Total Members:&nbsp;
                span(class="totalMembers" id="totalMembers")
            li Total Games:&nbsp;
                span(class="totalGames" id="totalGames")
    div(class="serverTimeWrap fLeft") Server Time:&nbsp;
        span(class="serverTime")
    div(class="logout fRight" ng-click="admin.logout()") Logout
    div.clearFix
div(class="tabs" id="tabs")
    tabset
        tab(ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled")
            div(ng-ngp-tab-content="tab.content")