div(class="statusBar")
    div(class="userDetails fLeft") Hey&nbsp;{{admin.User.username}}
    div(class="singlePlayer fLeft")
        img(src="http://something.com")
        span(class="singlePlayerLabel") play Single Player
        ul(class="singlePlayerGamesList fLeft displayNone")
    div(class="multiPlayer fLeft")
        img(src="http://something.com")
        span(class="multiPlayerLabel") Queue for MultiPlayer
        ul(class="multiPlayerGamesList fLeft displayNone")
    div(class="statsDiv fLeft" ng-mouseenter="admin.bar.statusHover = true" ng-mouseleave="admin.bar.statusHover = false") Stats{{admin.bar.statusHover}}
        ul(class="stats fLeft" ng-show="admin.bar.statusHover")
            li latency:&nbsp;
                span(class="latency" id="latency")
            li Total Members:&nbsp;
                span(class="totalMembers" id="totalMembers")
            li Total Games:&nbsp;
                span(class="totalGames" id="totalGames")
    div(class="serverTimeWrap fLeft") Server Time:&nbsp;
        span(class="serverTime")
    div(class="logout fRight") Logout
    div.clearFix
div(class="tabs displayNone" id="tabs")
    ul.tabsContainer