div(class="statusBar")
    div(class="userDetails fLeft") Hey&nbsp;{{admin.Authorization.username}}
    div(class="singlePlayer fLeft" ng-mouseenter="$root.ngp.bar.sp.hover = true" ng-mouseleave="$root.ngp.bar.sp.hover = false")
        img(src="")
        span(class="singlePlayerLabel") play Single Player
        ul(class="singlePlayerGamesList fLeft" ng-show="$root.ngp.bar.sp.hover")
            li(class="gameEntry" ng-repeat="(index, game) in admin.games" ng-click="admin.queueSP(game)")
                img(src="{{admin.imgUrl}}/{{game.img}}")
                span.gameName {{game.name}}
    div(class="multiPlayer fLeft" ng-mouseenter="$root.ngp.bar.mp.hover = true" ng-mouseleave="$root.ngp.bar.mp.hover = false")
        img(src="")
        span(class="multiPlayerLabel") Queue for MultiPlayer
        ul(class="multiPlayerGamesList fLeft" ng-show="$root.ngp.bar.mp.hover")
            li(class="gameEntry" ng-repeat="(index, game) in admin.games" ng-click="admin.queueMP(game)")
                img(src="{{admin.imgUrl}}/{{game.img}}")
                span.gameName {{game.name}}
    div(class="statsDiv fLeft" ng-mouseenter="$root.ngp.bar.stats.hover = true" ng-mouseleave="$root.ngp.bar.stats.hover = false") Stats
        ul(class="stats fLeft" ng-show="$root.ngp.bar.stats.hover")
            li latency:&nbsp;
                span(class="latency" id="latency") {{ $root.ngp.bar.stats.latency }}
            li Total Members:&nbsp;
                span(class="totalMembers" id="totalMembers")
            li Total Games:&nbsp;
                span(class="totalGames" id="totalGames")
    div(class="serverTimeWrap fLeft") Server Time:&nbsp;
        span(class="serverTime")
    div(class="logout fRight" ng-click="admin.logout()") Logout
    div.clearFix
div(ui-view='admin')
    div.tabContainer
        div(class="tabs" id="tabs")
            tabset
                tab(ng-repeat="(rIndex, room) in $root.ngp.rooms" select="admin.roomSelected(rIndex)" heading="{{room.title + ' ' + room.notification}}" active="room.active" disabled="room.disabled")
                    ngp-room-content(content="room.content" room-index="rIndex")
    div.inputContainer
        input(id="msg" placeholder="enter a message" class="msg" ng-keypress="admin.msgInput($event)" ng-model="admin.commandLine")
        button(ng-click="admin.msgButton()" class="submitMsg") Submit