div(class="statusBar")
    div(class="userDetails fLeft") Hey&nbsp;{{admin.User.username}}
    div(class="singlePlayer fLeft")
        img(src="http://something.com")
        span(class="singlePlayerLabel") play Single Player
        ul(class="singlePlayerGamesList fLeft displayNone")
    div(class="multiPlayer fLeft")
        img(src="http://something.com")
        span(class="multiPlayerLabel") Queue for MultiPlayer
        ul(class="multiPlayerGamesList fLeft displayNone")
    div(class="statsDiv fLeft" ng-mouseenter="$root.ngp.bar.stats.hover = true" ng-mouseleave="$root.ngp.bar.stats.hover = false") Stats
        ul(class="stats fLeft" ng-show="$root.ngp.bar.stats.hover")
            li latency:&nbsp;
                span(class="latency" id="latency") {{ $root.ngp.bar.stats.latency }}
            li Total Members:&nbsp;
                span(class="totalMembers" id="totalMembers")
            li Total Games:&nbsp;
                span(class="totalGames" id="totalGames")
    div(class="serverTimeWrap fLeft") Server Time:&nbsp;
        span(class="serverTime")
    div(class="logout fRight" ng-click="admin.logout()") Logout
    div.clearFix
a(ui-sref='game') game&nbsp;
div(ui-view='admin')
    div.tabContainer
        div(class="tabs" id="tabs")
            tabset
                tab(ng-repeat="channel in $root.ngp.channels" select="admin.channelSelected()" heading="{{channel.title}}" active="channel.active" disabled="channel.disabled")
                    ngp-channel-content(content="channel.content")
    div.inputContainer
        input(id="msg" placeholder="enter a message" class="msg")
        button(class="submitMsg") Submit