div(class="content mt_20")
    div(class="content")
        h2 Please login
    div(class="floatLeft content splic_5")
        label Username or Email
        input(type='text' name='username' id="username" placeholder="Username or Email")
    div(class="floatLeft content splic_5")
        label password
        input(type='password' name='password' id="password")
    div(class="content clearFix")
        input(type="button" name="login" id="login" value="login")