div.content
    div(class="fLeft content splic_5")
        label Username or Email
        input(type='text' name='username' id="username" placeholder="Username or Email")
    div(class="fLeft content splic_5")
        label password
        input(type='password' name='password' id="password")
    div(class="clearFix")
        input(type="button" name="login" id="login" value="login")