div.content
    div.content
        label Username or Email
        input(type='text' name='username' id="username" placeholder="Username or Email")
    div.content
        label password
        input(type='password' name='password' id="password")
    div.content
        input(type="botton" name="login" id="login")