div(class="content mt_20")
    div(class="content")
        h2 Please login
    div(class="floatLeft content splic_5")
        label Email
        input(type='text' name='username' id="username" placeholder="Email" ng-model="login.registerForm.email")
    div(class="floatLeft content splic_5")
        label password
        input(type='password' name='password' id="password" ng-model="login.registerForm.password")
    div(class="content clearFix")
        input(type="button" name="login" id="login" value="Login" ng-click="login.login()")