doctype html
html(lang="en")
    head
        title Chat with authentication
        link(href="/css/style.css" rel="stylesheet" type="text/css")
        link(href="/css/jquery-ui.css" rel="stylesheet" type="text/css")
        link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        script(type='text/javascript').
            var options = !{JSON.stringify(options || {})};

        script(src="/lib/angular.1.3.8.min.js" type="text/javascript")
        script(src="/lib/angular-ui-router.min.js" type="text/javascript")
        script(src="/lib/angular-cookies.mini.js" type="text/javascript")
        script(src="/lib/ui-bootstrap-0.9.0.min.js" type="text/javascript")
        script(src="/lib/lodash.compat.min.js" type="text/javascript")
        script(src="/lib/jquery-1.11.1.js" type="text/javascript")
        script(src="/lib/jquery-ui.js" type="text/javascript")
        script(src="/lib/moment.js" type="text/javascript")
        script(src="/primus/primus.js" type="text/javascript")
        script(src="/configs/ngp-globals.js" type="text/javascript")
        script(src="/modules/main/ngp.node-game-platform.js" type="text/javascript")
        script(src="/configs/ngp-routs.js" type="text/javascript")

        script(src="/modules/main/components/factories/ngp.api.js" type="text/javascript")
        script(src="/modules/main/components/factories/ngp.notify.js" type="text/javascript")
        script(src="/modules/main/components/factories/ngp.utilFunc.js" type="text/javascript")
        script(src="/modules/main/components/factories/ngp.chat.js" type="text/javascript")
        script(src="/modules/main/components/factories/ngp.chatOut.js" type="text/javascript")
        script(src="/modules/main/components/factories/ngp.user.js" type="text/javascript")
        script(src="/modules/main/components/factories/ngp.router.js" type="text/javascript")
        script(src="/modules/main/components/factories/ngp.routChat.js" type="text/javascript")
        script(src="/modules/main/components/factories/ngp.routMsg.js" type="text/javascript")
        script(src="/modules/main/components/factories/ngp.routRoom.js" type="text/javascript")

        script(src="/modules/main/components/services/ngp.webSocket.js" type="text/javascript")
        script(src="/modules/main/components/services/ngp.authorization.js" type="text/javascript")
        script(src="/modules/main/components/services/ngp.latency.js" type="text/javascript")
        script(src="/modules/main/components/services/ngp.cronJob.js" type="text/javascript")
        script(src="/modules/main/components/services/ngp.terminal.js" type="text/javascript")

        script(src="/modules/main/components/controllers/ngp.homeController.js" type="text/javascript")
        script(src="/modules/main/components/controllers/ngp.adminController.js" type="text/javascript")
        script(src="/modules/main/components/controllers/ngp.gameController.js" type="text/javascript")
        script(src="/modules/main/components/controllers/ngp.loginController.js" type="text/javascript")
        script(src="/modules/main/components/controllers/ngp.registerController.js" type="text/javascript")

        script(src="/modules/main/components/directives/ngp.roomContent.js" type="text/javascript")
        script(src="/modules/main/components/directives/ngp.roomMsg.js" type="text/javascript")
        script(src="/modules/main/components/directives/ngp.roomUser.js" type="text/javascript")
        base(href="/")

    body(ng-app="node-game-platform")
        audio(id="notification" src="/assets/roomNotification.mp3" preload="auto")
        div(ui-view='main' class='pageWrap')
        div(ng-show="$root.ngp.notify.show" class="notifyWindow" ng-class="$root.ngp.notify.class" ng-click="$root.ngp.notify.reset()") {{$root.ngp.notify.msg}}